<!--The content below is only a placeholder and can be replaced.-->
<head>

</head>
  <div class="Title" style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="Form">
    <h1>
        {{ formName }}
    </h1>
    <h2>
        <app-name-editor></app-name-editor>
        <app-button></app-button>
    </h2>
  </div>
  <div class="Feeling">
    <img width="300" alt="Angular Logo" src="https://image.freepik.com/free-vector/mood-emoticons_23-2147515886.jpg?1">
  </div>
  <div class="Body">
  <h2>We aim to improve your mood!</h2>
    <li class="List"><h3 class="Team">{{Member1}}</h3></li>  
    <li class="List"><h3 class="Team">{{Member2}}</h3></li>
    <li class="List"><h3 class="Team">{{Member3}}</h3></li>
    <li class="List"><h3 class="Team">{{Member4}}</h3></li>
  </div>
  <br>
  <div class="Feeling">
      <h2>SEND DATA TO THE SERVER</h2>
      <app-new-student-form></app-new-student-form>
  </div>
  
  <br>

  <div class="Feeling">
    <h2>GET DATA FROM THE SERVER</h2>
    <ul *ngFor ="let student of students let i = index">
      <li> {{student._id}}: {{student.Feeling}} | {{student.FoodType}} > {{student.FoodName}}
        <button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button>
      </li>
    </ul>
  </div>